<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <h1 class="navbar-brand">Test App</h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/profile">Profile<span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <span class="navbar-text" style='margin-right: 15px;'><a href='/logoff'>Log Out</a></span>
        </div>
    </nav>
    <div class='container' style="margin:25px; padding-left: 25px; padding-right: 25px;">
        <div class="d-flex justify-content-between" style="margin:25px; padding-left: 25px; padding-right: 25px;">
            <h2>Manage Users</h2>
            <a style='padding:15px;' href="/users/new" class="badge badge-info">Add New User</a>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">User Level</th>
                    <th scope="col">Created At</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {%for user in users%}
                    <tr>
                        <td>{{user.id}}</td>
                        <td><a href="/users/show/{{user.id}}">{{user.first_name}} {{user.last_name}}</a></td>
                        <td>{{user.email}}</td>
                        <td>{{user.is_admin}}</td>
                        <td>{{user.created_at}}</td>
                        <td>
                            <a href='/users/edit/{{user.id}}'>Edit</a>
                            <a href='/users/remove/{{user.id}}'>Remove</a>
                        </td>
                    </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</body>
</html>